body {background-color:#F5F5F5 ;
   font-family: 'Open Sans', sans-serif;
}

hr { background-color: #ed8a63; height: 2px; border: 0; }



 .header {background-color: #3a4660;
  text-align: center;
  margin: -10px ; 
  padding-top: 10px; 
  padding-bottom: 10px;}



h1 {font-family: 'Open Sans', sans-serif;
  font-size:30px;
  line-height: em;
  color:#ed8a63 ;
  font-weight: normal;
 }


h2 {color:#c9af98;
   font-size: 17px;
   font-family: 'Open Sans', sans-serif;
   font-weight: normal}

h3 {color:#3d3d3f;
font-size:16px;
font-weight: bolder; }


.education_header {
  margin-top: 25px 
 }
.edu_uccs  {font-weight: bold}
.ma_psysci {font-style: italic}
.edu_csusm {font-weight: bold}
.ba_psy {font-style: italic}
.miracosta {font-weight: bold}
.pvbh {font-weight: bold}
.uccs {font-weight: bold}
.GGGACC{font-weight: bold}

#header_line {margin-top: -10px}
#prof_line  {margin-top: -10px}
#uccs_right {float:right;}
#ma_right {float:right;}
#sanmarcos {float:right;}
#tutor_dates {float:right;}
#intake_dates {float:right;}
#instruc_dates {float:right;}
#admin_dates {float:right;}




.tutor{ color: #845007;
font-style: italic; }
.intake { color: #845007;
font-style: italic; }
.lab { color: #845007;
font-style: italic; }
.admin { color: #845007;
font-style: italic; }

